:host {
  display: block;
  margin: 2em;
}

.title {
  color: #00ba3b;
}

.button {
  background-color: #00ba3b;
  color: white;
  border-radius: 5px;
}

.form {
  margin-bottom: 1.5em;
}

.toolbar {
  margin-bottom: 1.5em;
}

.list {
  list-style-type: none;
}

.list li {
  cursor: pointer;
  background-color: #EEE;
  border-radius: 4px;
}

.list li:hover {
  background-color: #DDD;
}
